- player1 = @game.users.find { |user| user == current_user }
- other_players = @game.users.reject { |user| user == current_user }

h1 Waiting for more players
- other_players.each do |player|
  span.player = player.name
= player1.name
