.pending-games {
  form {
    margin: auto;
    width: 50%;
  }

  input[type="submit"] {
    margin-bottom: 10px;
    width: 100%;
  }

  ul {
    padding: 0 10px;
  }
}

.current-player {
  background: #ff0;
}
.card {
  border: 2px solid #ddd;
  display: inline-block;
  height: 36px;
  overflow: hidden;
  position: relative;
  text-align: left;
  width: 24px;
}

.card-count {
  background: #fff;
  border: 1px solid #000;
  border-radius: 50%;
  height: 32px;
  line-height: 32px;
  left: 50%;
  position: absolute;
  top: 3px;
  width: 32px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}

.deck {
  padding: 24px;
}

.deck-count {
  background: #fff;
  position: absolute;
}

.player-hand {
  height: 40px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  width: 174px;
}

.opponent {
  border: 1px solid #000;
  &.selected {
    background: red;
  }
}

.player-info {
  background: #555;
  margin: auto;
  text-align: center;
  width: 174px;
}

.table {
  background: #347634;
  border: 2px solid #aaa;
  border-radius: 50px;
  height: 92px;
  width: 280px;
}

.visible-card {
  background: #fff;
  border: 1px solid #555;
  box-sizing: border-box;
  display: inline-block;
  font-size: 24px;
  height: 72px;
  line-height: 72px;
  text-align: center;
  width: 52px;
  &.selected {
    background: red;
  }
}
