.container {
  background: #fff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  overflow: scroll;
  padding: 8px;
  position: relative;
  width: 667px;
}

.row {
  display: flex;
  justify-content: space-between;
  margin: 40px;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
